@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}


.dark {
  --background: #050505;
  --foreground: #ededed;
}





html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}





body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  letter-spacing: -0.01em;
}



* {
  box-sizing: border-box;
}





::selection {
  background: #ffffff;
  color: #000000;
}





::-webkit-scrollbar {
  width: 8px;
}





::-webkit-scrollbar-track {
  background: transparent;
}





::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 999px;
}





* {
  -webkit-tap-highlight-color: transparent;
}